

:root {
  --cursive-font: 'Cedarville Cursive', cursive;
  --montserrat-font: 'Montserrat', sans-serif;
  --code-font: 'VT323', monospace;
  --skills-font: 'Chango', cursive;
  --accent-light-color: #65FEDA;
  --accent-color: #326771;
  --primary-bg: #201A23;
  --secondary-bg: #2F2E3A;
  --primary-font-color: #ffffff;
  --secondary-font-color: #2F2E3A;

}


.App {
  scrollbar-color: var(--accent-light-color) var(--primary-bg); 
  scrollbar-width: thin;
}




.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--primary-bg);
  flex-direction: column;
  scrollbar-color: var(--accent-light-color) var(--primary-bg); 
  scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-bg);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-light-color);
  border-radius: 4px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
