@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scrollbar-color: var(--accent-light-color) var(--primary-bg); /* thumb and track color */
  scrollbar-width: thin;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
